<?xml version="1.0" encoding="UTF-8"?>
<templates>
    <t t-extend="mail.client_action">
        <t t-jquery=".o_mail_request_permission" t-operation="inner">
            Your permission is required to <a href="#"> enable desktop notifications</a>.
        </t>
    </t>
    <t t-extend="DashboardInvitations">
        <t t-jquery=".text-center.o_web_settings_dashboard_invitations" t-operation="append">
            <hr/>
            <div class="row">
                <div class="col-md-12">
                    <a t-if="debug != true" class="oe_activate_debug_mode pull-right" href="?debug" >Activate the developer mode</a>
                    <br t-if="debug != true"/>
                    <a t-if="debug != 'assets'" class="oe_activate_debug_mode pull-right" href="?debug=assets" >Activate the developer mode (with assets)</a>
                    <br t-if="debug != 'assets'"/>
                    <a t-if="debug != false" class="oe_activate_debug_mode pull-right" href="/web" >Deactivate the developer mode</a>
                </div>
            </div>
        </t>
    </t>
    <t t-extend="UserMenu">
        <t t-jquery="a[data-menu='documentation']" t-operation="replace"></t>
        <t t-jquery="a[data-menu='support']" t-operation="replace"></t>
        <!--<t t-jquery="a[data-menu='about']" t-operation="replace"></t>-->
        <t t-jquery="a[data-menu='account']" t-operation="replace"></t>
        <t t-jquery="li.divider" t-operation="replace"></t>
    </t>
</templates>
